
.form {
    background: #d1d0d0;
    padding: 3rem;
    border: 1px solid #EAEBED;
    border-radius: 12px;
    width: 27.0875rem;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.page {
    padding: 7% 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    font-family: "Montserrat", sans-serif;
}
.button {
    background-color: #0A3F72;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 18px;
    padding: 20px 20px 20px 20px;
    border: none;
    cursor: pointer;
}
.button:hover {
     transform: scale(1.03);
 }
.info h1 {
    color: #0a3f72;
}
 .container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
 }