
.input::placeholder {
    font-size: 1rem;
    font-weight: normal;
    font-family: Inter, sans-serif;
    color: #2D2E2E;
}

.input {
    border: none;
    padding: 16px 17px;
    background-color: #F6F6F6;
    max-height: 53px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: normal;
    font-family: Inter, sans-serif;
    color: #2D2E2E;
}
.input:active,
.input:focus {
    outline: none;
}