.text:visited {
    color: white !important;
  }
.container {
    display: flex;
    font-family: "Montserrat", sans-serif;
    padding: 0 14%;
    justify-content: space-between;
    height: 93px;
    align-items: center;
    gap: 15px;
    
}
.item {
    display: flex;
    align-items: center;
}

.vertical_line{
    border-right: 2px solid #000000;
    width: 38.8px;
    height: 53px;

}
.button{
    color: white;
    background-color:#0A3F72;
    border-radius: 6px;
    width :195px;
    outline: none;
    height :37px ;
}
.place_img{

    margin-left: 4%;
    border: none;
}
.office{
    margin-left: 9px;
}

.language{
    margin-left:3px;
}
.strelkaimg{
    margin-left:1px;
    margin-right: 38px;

}
.menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    width: 200px;
    padding-left: 10px;
    right: 0; /* Изменено значение right */
    top: 0;
    bottom: 0;
    height: 100vh;
    background-color: rgb(64, 122, 176);
    z-index: 10;
    transition: left 7 ease; 
  }
.menu ul {
    display: flex;
    flex-direction: column;
  }
.active{
    right: 0;
   
}
.li1{
    display: flex;
    background-color:#0A3F72;
    height: 66px;
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 14%;
}
.text{
    list-style: none;
    color: azure;
    font-size: 14px;
}
.link{
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
.link a{
    text-decoration: none;
  scroll-behavior: smooth;
}
.text a {
    color: white;
  }
  
  .text a:hover,
  .text a:active,
  .text a:visited,
  .text a:focus {
    color: white;
  }

  /*мобилка*/
@media only screen and (max-width: 650px) {
    .place_img{
        width: 10px;
    }
    .language{
        font-size: 6px;
    }
    .strelkaimg{
        width: 3px;
        margin-left:1px;
    }
    .office{
        font-size: 4px;
    }
        .link{
            font-family: "Montserrat", sans-serif;
            font-size: 5px;
            gap: 4px;
        }
        .item a {
            font-size: 10px;
        }
        .vertical_line{
            height: 30px;
        }
        .text{
            padding: 0 2%;
        }
        .li1{
            padding: 0 3%;

        }
        .button{
            width: 50px;
            height: 23px;
            font-size: 4px;
        }
    .logo{
        width: 200px;
        height: 50px;
    }
}
@media only screen and (min-width: 550px) and (max-width: 650px){
    .place_img{
        width: 10px;
    }
    .language{
        font-size: 8px;
    }
    .strelkaimg{
        width: 3px;
        margin-left:1px;
    }
    .office{
        font-size: 8px;
    }
        .link{
            font-family: "Montserrat", sans-serif;
            font-size: 8px;
            gap: 4px;
        }
        .item a {
            font-size: 13px;
        }
        .vertical_line{
            height: 30px;
        }
        .text{
            padding: 0 2%;
        }
        .li1{
            padding: 0 3%;

        }
        .button{
            width: 50px;
            height: 23px;
            font-size: 6px;
        }
    .logo{
        width: 200px;
        height: 50px;
    }
}

/*планшет*/
@media only screen and (min-width: 650px)  and (max-width: 1080px) {

        .place_img{
            width: 20px;
        }
        .link{
            font-size: 10px;
            gap: 8px;            
            height: 23px;
        }
        .item a {
            font-size: 10px;
        }
        .text{
            padding: 0 2%;
        }
        .li1{
            padding: 0 3%;

        }
        .language{
            font-size: 20px;
            margin-left:10px;
        }
        .strelkaimg{
            margin-left:2px;
        
        }
        .button{
            width: 120px;
            height: 27px;
            font-size: 10px;
        }
    .logo{
        width: 240px;
    }
}
